# Project: Building MySQL Database for VHS Rental Store | Cristiane Carneiro

## Data Cleaning : language.csv

In this file, one can review the step by step cleaning process for table language.csv

### Import

We start by importing the libraries we are going to use and loading the database

In [1]:
%pip install ipython
%pip install seaborn
%pip install mysql-connector-python
%pip install sqlalchemy
%pip install pymysql

Requirement already satisfied: ipython in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (8.16.1)
Requirement already satisfied: backcall in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (from ipython) (0.2.0)
Requirement already satisfied: decorator in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (from ipython) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (from ipython) (0.19.1)
Requirement already satisfied: matplotlib-inline in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (from ipython) (0.1.6)
Requirement already satisfied: pickleshare in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (from ipython) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (from ipython) (3.0.39)
Requirement already satisfied: pygments>=2.4.0 in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (from ipython) (2.16.1)
Requirement already satisfied: stack-data in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (from ipython) (0.6.3)
Requirement already satisfied: traitlets>=5 in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (from ipython) (5.11.2)
Requirement already satisfied: exceptiongroup in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (from ipython) (1.1.3)
Requirement already satisfied: pexpect>4.3 in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (from ipython) (4.8.0)
Requirement already satisfied: appnope in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (from ipython) (0.1.3)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (from jedi>=0.16->ipython) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (from pexpect>4.3->ipython) (0.7.0)
Requirement already satisfied: wcwidth in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython) (0.2.8)
Requirement already satisfied: executing>=1.2.0 in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (from stack-data->ipython) (2.0.0)
Requirement already satisfied: asttokens>=2.1.0 in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (from stack-data->ipython) (2.4.0)
Requirement already satisfied: pure-eval in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (from stack-data->ipython) (0.2.2)
Requirement already satisfied: six>=1.12.0 in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (from asttokens>=2.1.0->stack-data->ipython) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: seaborn in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (0.13.0)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (from seaborn) (1.26.1)
Requirement already satisfied: pandas>=1.2 in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (from seaborn) (2.1.1)
Requirement already satisfied: matplotlib!=3.6.1,>=3.3 in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (from seaborn) (3.8.0)
Requirement already satisfied: contourpy>=1.0.1 in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (4.43.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (23.2)
Requirement already satisfied: pillow>=6.2.0 in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (from pandas>=1.2->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.3->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: mysql-connector-python in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (from mysql-connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: sqlalchemy in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (2.0.22)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (from sqlalchemy) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (from sqlalchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pymysql in /Users/criscarneiro/anaconda3/envs/clase/lib/python3.10/site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import warnings
warnings.filterwarnings('ignore')

import pylab as plt  

import seaborn as sns 

import mysql.connector as conn

from sqlalchemy import create_engine

%matplotlib inline

In [3]:
languages = pd.read_csv('/Users/criscarneiro/desktop/ironhack/6_Projects/sql-data-base-building/data/raw/language.csv')

In [4]:
languages.head()

   language_id      name          last_update
0            1   English  2006-02-15 05:02:19
1            2   Italian  2006-02-15 05:02:19
2            3  Japanese  2006-02-15 05:02:19
3            4  Mandarin  2006-02-15 05:02:19
4            5    French  2006-02-15 05:02:19

### Good practices

Some good practices before we continue with the exercise

In [5]:
#creating a back-up with the original table 

languagesoriginal = languages.copy()

In [6]:
#ensuring column names are clean 

languages.columns

Index(['language_id', 'name', 'last_update'], dtype='object')

In [7]:
languagues.columns = [c.lower().replace(' ', '_') for c in languages.columns]

languages.columns

NameError: name 'languagues' is not defined

In [ ]:
#checking for duplicates 

languages.duplicated().any() #there are no duplicates

### Explore

Exploratory analysis to understand the data base (e.g,. description, column types, searching for null values)

In [ ]:
#it seems we have a repository of actors with their respective IDs and the data in each it was updated. 

languages.head()

In [ ]:
#we have 3 columns, and 6 entries (rows) in our original database

languagesoriginal.shape

In [ ]:
#here we can see the type of each of the columns - int type for language ID, and object type for name and last_update columns
#it seems all values are non-null

languagues.info()

In [ ]:
#description table 
#here we can see the #of unique values, and the mode of each field. 

languages.describe(include='all').T

### Null values

As stated above, there are no null values in the database. See per below:

In [ ]:
#there are no null values in the database 

nan_cols = languages.isna().sum()

nan_cols

### Other cleaning

#### language_id

In [ ]:
#we got a list of int values, which seem to be IDs for the each language
#this is the most appropriate datatype (although we will optimize later)

languages.language_id.dtype

In [ ]:
#it seems all the IDs are unique values 

len(languages.language_id.unique())

In [ ]:
languagues.language_id.unique()

#### last_update

In [ ]:
#this column is type 'object'. It seems tough it would be most appropriate as a 'time type'

languages.last_update.dtype

In [ ]:
#all the values are the same, indicating all the names were last updated on Feb 15th 2006 at 5:02

languagues.last_update.value_counts()

In [ ]:
#I will convert the data to datetime64

languages.last_update = pd.to_datetime(languages.last_update)

In [ ]:
#converted 

languagues.last_update.dtype

#### name

In [ ]:
#this column is type 'object'. They cointain a list of strings 

languages.name.dtype

In [ ]:
#all unique values 

languages.name.unique()

In [ ]:
#just making sure there are no spaces 

languages.name = languages.name.apply(lambda X: X.title().replace(' ',''))

In [ ]:
languages.head()

### Column names and duplicates

In [ ]:
languages.columns

In [ ]:
#renaming last_update to distinguish from other tables

newcolumns = ['language_id', 'language_name', 'language_last_update']

In [ ]:
languages.columns = newcolumns

In [ ]:
#checking for duplicates 

languages.duplicated().any() #there are no duplicates

In [ ]:
languages.head(2)

### Column types and optimization

I will optimize the database for memory

In [ ]:
languages.info(memory_usage='deep')

In [ ]:
#downcast language_id

languages.language_id = pd.to_numeric(languagues.language_id, downcast='integer')

In [ ]:
#name columns to 'category'

languages.language_name = languages.language_name.astype('category')

In [ ]:
#no need for 'nanoseconds' precision

languages.last_update = languages.language_last_update.astype('datetime64[s]')

### Comparison output vs. original

In [ ]:
#no values excluded

print(languagesoriginal.shape)
print(languages.shape)

In [ ]:
#744 bytes vs. 1016 bytes 

languages.info(memory_usage='deep')

In [ ]:
languagesoriginal.info(memory_usage='deep')

### Export clean table

In [ ]:
languages.to_csv('/Users/criscarneiro/desktop/ironhack/6_Projects/sql-data-base-building/data/clean/language_clean.csv', index=False)

### Export to MYSQL

In [8]:
with open('/Users/criscarneiro/desktop/ironhack/6_Projects/sql-data-base-building/pw.txt') as file: 
    
    password = file.read()

In [9]:
str_conn=f'mysql+pymysql://root:{password}@localhost:3306/rentalstore'

cursor = create_engine(str_conn)

In [10]:
languages.to_sql(name='language',
              con=cursor,
              if_exists = 'replace',
              index=True)

6